[retrieve.debug.encounter.fhir_search]
###################
# FOR DEBUG ONLY: #
###################

#################
# If the DEBUG_ENCOUNTER_DATETIME_START parameter is activated, only Encounters whose start date is
# before this date are searched for.
# If it is not activated, the current date is automatically assumed.
# If in addition (!) to DEBUG_ENCOUNTER_DATETIME_START the parameter DEBUG_ENCOUNTER_DATETIME_END is
# also set, then only Encounters whose start date (Encounter.period.start) is after the
# DEBUG_ENCOUNTER_DATETIME_START and before the DEBUG_ENCOUNTER_DATETIME_END are found.
# Since the end date of Encounters cannot be queried without a FHIR Custom Search parameter, all
# queries for the Encounter date always refer to its start date.
#################
DEBUG_ENCOUNTER_DATETIME_START = "2020-06-30 21:25:00"
#DEBUG_ENCOUNTER_DATETIME_END = "2020-08-30 21:25:00"

#################
# If this parameter is activated, only those whose subject ID is in this list are found in the initial
# encounter request.
#################
DEBUG_ENCOUNTER_ACCEPTED_PIDS = ["UKB-0001", "UKB-0002", "UKB-0003", "UKB-0004", "UKB-0005",
                                 "UKB-0006", "UKB-0007", "UKB-0008", "UKB-0009", "UKB-0010",
                                 "UKB-0011", "UKB-0012", "UKB-0013", "UKB-0014", "UKB-0015"
                                 ]

#################
# Activate this parameter to test which FHIR search request for Encounter is sent to the FHIR server.
# This will only output the request, but not execute the entire 'cds2db' module.
# Use this to see the result of the above debug parameters or, without the debug parameters, the
# first FHIR search request for Encounter.
#################
#DEBUG_FHIR_SEARCH_ENCOUNTER_REQUEST_TEST = true

[retrieve.debug.all_resource.fhir_search]

#################
# These parameters can set additional FHIR-search parameters for downloading Requests. It is possible
# to set parameters for each FHIR resource or set specific parameters for all FHIR resources with the
# parameter DEBUG_ADD_FHIR_SEARCH_GENERAL. Several parameters can be customised by linking the FHIR
# search parameters with an '&'. If the parameter is set to an empty string "", then the resource is
# not downloaded.
#
# ATTENTION: Which specific FHIR search requests result from the following DEBUG_ADD_FHIR_SEARCH
# ---------- parameters depends on the FHIR server and can only be predicted to a limited extent!
#            Invalid parameters are (possibly) simply ignored and the order of the parameters is
#            almost always adjusted. You can see the result of the requests in the file
#            'outputLocal/cds2db/bundles/cds2db_total_bundles.txt'.
#################
#DEBUG_ADD_FHIR_SEARCH_GENERAL = "subject=Patient/456&id=456"
#DEBUG_ADD_FHIR_SEARCH_CONDITION = "subject=Patient/123&id=123"
#DEBUG_ADD_FHIR_SEARCH_CONSENT = ""
#DEBUG_ADD_FHIR_SEARCH_DIAGNOSTICREPORT = ""
#DEBUG_ADD_FHIR_SEARCH_ENCOUNTER = ""
#DEBUG_ADD_FHIR_SEARCH_LOCATION = ""
#DEBUG_ADD_FHIR_SEARCH_MEDICATION = ""
#DEBUG_ADD_FHIR_SEARCH_MEDICATIONADMINISTRATION = ""
#DEBUG_ADD_FHIR_SEARCH_MEDICATIONREQUEST = ""
#DEBUG_ADD_FHIR_SEARCH_MEDICATIONSTATEMENT = ""
#DEBUG_ADD_FHIR_SEARCH_OBSERVATION = ""
#DEBUG_ADD_FHIR_SEARCH_PATIENT = ""
#DEBUG_ADD_FHIR_SEARCH_PROCEDURE = ""
#DEBUG_ADD_FHIR_SEARCH_SERVICEREQUEST = ""

#################
# These parameters can be used to skip the melting of specific resources after downloading.
# The resources listed here are not processed further in the 'cds2db' module after downloading.
# This can be used to speed up test cases if certain resources are not needed.
#################
DEBUG_SKIP_MELTING_RESOURCES = [
  #"Condition",
  #"Consent",
  #"DiagnosticReport",
  #"Encounter",
  #"Location",
  #"Medication",
  #"MedicationAdministration",
  #"MedicationRequest",
  #"MedicationStatement",
  #"Observation",
  #"Patient",
  #"Procedure",
  #"ServiceRequest"
]

#################
# Set this parameter to "true" if last_update_date should be ignored. In this case all data will be downloaded
# from FHIR-server without checking last implemented data in database.
#################
#DEBUG_IGNORE_LAST_UPDATE_DATE = true

[retrieve.debug.filtering.after_download]

#################
# These parameters can be set to filter the resource table to specific rows for each resource after
# downloading. The valid range for indices is, for example, "1, 3-5, 7", which stands for the
# indices "1, 3, 4, 5, 7"" in the respective resource table. If an empty string, "", is specified,
# then all lines of the respective resource are deleted. The "DEBUG_FILTER_" variables that are
# commented out are not filtered.
# This can be used to pass only certain data of a query in test cases.
# NOTE: This filter does not affect any FHIR search request, but only filters the resources found
# afterwards.
#################
#DEBUG_FILTER_CONDITION = "1-10"
#DEBUG_FILTER_CONSENT = ""
#DEBUG_FILTER_DIAGNOSTICREPORT = ""
#DEBUG_FILTER_ENCOUNTER = ""
#DEBUG_FILTER_LOCATION = ""
#DEBUG_FILTER_MEDICATION = ""
#DEBUG_FILTER_MEDICATIONADMINISTRATION = ""
#DEBUG_FILTER_MEDICATIONREQUEST = ""
#DEBUG_FILTER_MEDICATIONSTATEMENT = ""
#DEBUG_FILTER_OBSERVATION = "1-10"
#DEBUG_FILTER_PATIENT = ""
#DEBUG_FILTER_PROCEDURE = ""
#DEBUG_FILTER_SERVICEREQUEST = ""

#################
# This debug parameter ensures that the observation RAW table has exactly as many entries as
# specified here. If there are too few, they are duplicated. If there are more, they are truncated.
# This can be used to test the performance of large amounts of data.
#################
#DEBUG_RESOURCE_COUNT_OBSERVATION_RAW = 100

#################
# This debug parameter restricts the table pids_per_ward by filtering out all patients who have
# NOT the corresponding string in patient ID.
# This parameter can also be used to allow only certain data of a query to pass in test cases.
# NOTE: This filter does not affect any FHIR search request, but only filters the patients found
# afterwards.
#################
#DEBUG_FILTER_PIDS_PATTERN = "UKB"

#################
# If this parameter is set to true, all calculated encounter references in all resources are recalculated for
# rows that have invalid references.
#################
#DEBUG_RECALCULATE_INVALID_REFS = true

#################
# If this parameter is activated, only the resources listed
# here are recalculated. If this list is empty or this parameter is deactivated, all resources are recalculated.
#################
#DEBUG_RECALULATE_REFS_FOR_RESOURCES = [
  #"observation",
  #"procedure",
  #"medicationadministration",
  #"medicationstatement",
  #"medicationrequest"#,
  #"condition",
  #"diagnosticreport",
  #"servicerequest"
#]
